################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
/.vs/kz-webshop-be

## User Secrets (DO NOT COMMIT)
**/appsettings.Development.json
**/appsettings.Production.json
**/appsettings.Staging.json
secrets.json

## NuGet Packages
*.nupkg
*.snupkg
**/packages/*

## Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/

## Temporary files
*.tmp
*.temp
*~

## Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
